
// govuk_frontend_toolkit imports
@import "colours";
@import "shims";
@import "measurements";
@import "typography";
@import "css3";
@import "conditionals";
@import "grid_layout";

// govuk_elements imports
@import "elements/reset";
@import "elements/helpers";
@import "elements/tables";
@import "elements/panels"; // Fold-out data-tables

// dashboard-view imports
@import "alpha-beta-badge";
@import "dashboard-colours";
@import "dashboard-layout";
@import "dashboard-typography";

// graph styling
@import "graphing-main";


// Link styling for fold-out data tables
details summary {
  color: $link-colour;
  &:hover {
    text-decoration: underline;
    color: $link-hover-colour;
  }
}
