{% if depth==1 %}
  <main id="content">
  <h1>Performance data:<br />
  {{ title }}</h1>
{% else %}
  <section class="module" id="{{ title|lower|replace(" ", "-") }}">
  <h{{depth}}>{{ title }}</h{{depth}}>
{% endif %}

  {% if description %}<p>{{ description|safe }}</p>{% endif %}

  {% if data %}
  <div class="visualisation"></div>
  {% include 'data-table.html' %}
  {% endif %}

  {% if children %}
  {{ children|safe }}
  {% endif %}

{% if depth==1 %}
  </main>
{% else %}
  </section>
{% endif %}
