<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/ext/c3.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen" charset="utf-8">
  </head>
  <body>
    <main>
      {{ content|safe }}
    </main>
    <script src="/static/js/ext/d3.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/ext/c3.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/ext/lodash.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/ext/moment.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/formatter.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/main.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
